*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    min-height: 100vh;
    font-family: 'Poppins', Arial, sans-serif;
    background: rgb(243, 245, 247);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(243, 245, 247);
    height: 9.5rem;
}


.logo{
    height: 160px;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav ul{
    border: 1px solid red;
}


.carousel-container{
    overflow: hidden;
    width: 100%;
}

.main-carousel{
    height: 100%;
}


.carousel-intems{
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    gap: 8px;
    list-style-type: none;
    padding: 3rem 1rem;
    align-items: flex-start;
    transition: transform 0.5s ease;
}

.carousel-intems li {
    margin-right: 8px;
}

.carousel-intems li.active {
    background: rgb(48, 51, 60);
    border: 1px solid rgb(243, 245, 247);;
}
  
.carousel-intems li.active a{
    color: #FFFDFD;
}


.carousel-intems .carousel-cell{
    padding: 4px 12px;
    border-radius: 6px;
    border: 1px solid rgb(48, 51, 60);
    font-weight: 500;
    background-color: rgb(243, 245, 247);
    flex-grow: 0;
    cursor: pointer;
    counter-increment: gallery-cell;
   
}

  
.carousel-intems li a{
    color: rgb(48, 51, 60);
    white-space: nowrap;
}

#final-index{
    height: 50px;
}


section h2{
    color: #6f6565;
    margin-bottom: 0.6rem;
    margin-top: 0.7rem;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1.6rem;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

  
main ul li {
    display: flex;
    border-bottom: 1px solid #C4C4C4;
    background: #FFFDFD;
    padding: 2rem 1.6rem;
    gap: 6px;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out both;
}

.food-content, .drink-content{
    display: flex;
    flex-direction: column;  
    flex: 1;
}

.food-content h3{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #5d5252;
    font-style: normal;
    font-size: 2rem;
}

.drink-content h3{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #5d5252;
    font-style: normal;
    font-size: 2rem;
}


.food-content p{
    color: #867b7b;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 160%;
    margin-top: 3px;
}

.food-content span{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    display: block;
    /* color: rgb(110,119,129); */
    color: #01c65a;
    margin-top: 2.4rem;
    
}

.img-food{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    overflow: hidden;
}

.img-food img{
    object-fit: cover;
    display: block;
    width: 100%;
    min-height: 100%;
}

.juice-description{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


.cup{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 5px;
}

.cup.no-boder{
    border-bottom: none;
}

.cup-description{
    display: flex;
    flex-direction: column;
}

.cup p{
    color: #867b7b;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 3px;
    
}

.cup span{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    display: block;
    /* color: rgb(110,119,129); */
    color: #01c65a;
    margin-top: 2.4rem;
}

.cup-img-drink {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    overflow: hidden;
}


.cup-img-drink  img{
    object-fit: cover;
    display: block;
    width: 100%;
    min-height: 100%;
}


.drink-content{
    width: 100%;
}


.jar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.juice-description .jar-content{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    flex-grow: 1;
    
}

.juice-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.juice-container.center{
    align-items: center;
}

.juice-container p {
    color: #867b7b;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 3px;
}

.juice-container span{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    display: block;
    /* color: rgb(110,119,129); */
    color: #01c65a;
    margin-top: 2.4rem;
}

.img-drink {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    overflow: hidden;
}


.img-drink img{
    object-fit: cover;
    display: block;
    width: 100%;
    min-height: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2.4rem 1rem;
    margin-top: 10rem;
    background: rgb(48, 51, 60);
}

footer p {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFFDFD;
}
